
<body>
<form name= "animal" action="/animals" method="POST" >
    <input type="text" name="species" placeholder = "species" id="species">
    <br>
    <label for="extinct">Is it extinct?</label>
    <input type="checkbox" name="extinct" id="extinct">
    <br>
    <input type="text" name="location" placeholder = "location" id="location">
    <br>
    <input type="number" name="life expectancy" placeholder = "life expectancy" id="life expectancy">
    <br>
    <button type="submit">SUBMIT NEW ANIMAL</button>
</form>
</body>
</html>