
    <body>
   


    <article>
        
  <h3> Specie:<%= animal.species %>
   <p>Extinct: <%= animal.extinct %></p>
    <p>Location: <%= animal.location %></p>
    <p>Life Expectancy: <%= animal.lifeExpectancy %></p>
   
          <a href="/animals/"><button>Back to Main</button></a>
        </article>
      <button> <a href="/Animals/edit/<% animal.id %>"> Edit Animal</button>
      
      <button> <a href="/Animals/"> Return to Home</button>
    </body>
</html>
